# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE
.vscode/
.idea/

# Git
.gitattributes
.gitignore
.git/

# Project files
.sourcery.yaml
LICENSE
*.md
*.bak
*.pdf
*.jpg
*.png

# Streamlit specific
.streamlit/secrets.toml

# Project specific
data/
templates/

# OS specific
.DS_Store
Thumbs.db
